/* Reset */
html {

    box-sizing: border-box;

}

*, *:before, *:after {

    box-sizing: inherit;

}


nav ul li {

    list-style: none;

}


/*____________--Wrapper--____________*/

.conteneur {
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;

    padding-left: 10px;
    padding-right: 10px;
}

/*_______________________________*/



/* Les Bases */

body {

    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;

}

.header-principal {

    height: 61px;
    display: flex;
    background-color: #FF9800;
    align-items: center;
}

.header-principal .conteneur{

    margin-left :auto;
    margin-right:auto;


}

.header-principal nav{

    display: flex;
    margin: 0;
    height: 61px;


}

.header-principal li{

    margin:0;
    padding:20px 10px 20px 10px;

}

.header-principal ul{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;

}

.header-principal li a{

    display: flex;
    text-decoration: none;
    color: black;
    font: 1.125rem rubik, sans-serif;

}

.conteneur h1{

    display: flex;
    justify-content: center;
    align-items: center;

    font: 4rem 'Expletus Sans', cursive;
    color: #fff;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h2{

    font: 4rem 'Expletus Sans', cursive;
    font-weight: 600;
    color: #fff;


}

section div{

    display: flex;

}

article{

    margin:30px 15px 30px 15px;
    width:360px;
    height:524px;

}

.footer-principal{

    background-color: #E64A19;
    font: normal 0.875rem rubik sans-serif;
    color: #FFF;
    display: flex;
    justify-content: left;
    align-items: center;

}

article header{

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

article footer{

    display: flex;
    justify-content: center;
    align-content: center;

}

.information article:nth-child(1) {

     background-color: #E64A19;

 }

.information article:nth-child(2) {

    background-color: #0270BB;
}

.information article:nth-child(3) {

    background-color: #FFC107;

}





.bouton{

    text-decoration: none;
    color: black;
    background-color: #FFC107;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: auto auto 20px 20px;
    line-height: 17px;
    bottom:0;

}

.bouton:hover{

    text-decoration: none;
    color: white;
    background-color: #E64A19;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: auto auto 20px 20px;
    line-height: 17px;
    bottom:0;

}


article div{

    background-color: #F0F0F0;
    height: 324px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


nav ul li a:hover {

    color: #fff;
    text-decoration: #fff solid underline;

}

article span{

    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto 20px 30px auto;
    color:#E64A19;

}

article p{

    font-size: 1.125rem;
    font-family: rubik, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    padding: 20px;

}

.hero{
    font: 4rem 'Expletus Sans', cursive;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC107;
}
